.navbar-nav{
    padding-right: 50px;
}

img{
<<<<<<< HEAD
    width:40px;
    border-radius: 50%;
    border:1px solid black;
    padding:1px;
}
=======
    width: 40px;
    margin-right: 5px;
}

>>>>>>> a9f22bb091d9ef54c827d0cc7ce61e596cefad54
